@model WalletReport.Models.ForgetPassword

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}


@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="login-container">
    @Html.ValidationSummary(true)
    <div class="login-header blue">
        <h4>Forget  Password</h4>
    </div>
    @if (!String.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
    {
        <div class="error_description">
            <h1>@ViewBag.ErrorMessage</h1>
        </div>
    }
    <form>
        <div class="login-field">
            <label for="EmailAddress">Email Address</label>
            @Html.EditorFor(c => c.EmailAddress, new { @placeholder = "Email Address" })

            <i class="icon-user"></i>
        </div>

        <div class="login-button">
            <button type="submit" class="btn btn-large btn-block blue">Submit <i class="icon-arrow-right"></i></button>
        </div>

    </form>
</div>
}
@section scripts
{
    <script>
        jQuery(document).ready(function ($) {
            $('.uniform').uniform();
        });
    </script>
}
